h4{
    padding: 14px;
      text-align: center;
      background: blue;
      color: white;
      font-size: 15px;
      font-style: italic;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    body{background:greenyellow;}

    h2{
        padding: 14px;
          text-align: center;
          background: blue;
          color: white;
          font-size: 15px;
          font-style: italic;
          font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        body{background:greenyellow;font-style: italic;}
    
    